<ion-footer-bar align-title="left" class="bar-stable hide-on-keyboard-open">
  <div class="bottom-buttons">
    <button type="button" class="panel-button" cb-panel-button cb-action="photos" data-ng-disabled="disabled">photos</button>
    <button type="button" class="panel-button" cb-panel-button cb-action="history" data-ng-disabled="disabled">history</button>
    <button type="button" class="panel-button" cb-panel-button cb-action="notes" data-ng-disabled="disabled">notes</button>
    <button type="button" class="panel-button" cb-panel-button cb-action="instruct" data-ng-disabled="disabled">instruct</button>
    <button type="button" class="panel-button" cb-panel-button cb-action="alerts" data-ng-disabled="disabled">alerts</button>
    <button type="button" class="panel-button" cb-panel-button cb-action="skinfp" data-ng-disabled="disabled">skin fp</button>
  </div>
</ion-footer-bar>
