<ion-header-bar align-title="left" class="bar-stable bar-subheader hide-on-keyboard-open">
  <div class="top-buttons">
    <button type="button" class="panel-button" cb-panel-button cb-action="client">client</button>
    <button type="button" class="panel-button" cb-panel-button cb-action="analysis" data-ng-disabled="disabled">analysis</button>
    <button type="button" class="panel-button" cb-panel-button cb-action="prescription" data-ng-disabled="disabled">prescription</button>
    <button type="button" class="panel-button" cb-panel-button cb-action="programme" data-ng-disabled="disabled">programme</button>
    <button type="button" class="panel-button" cb-panel-button cb-action="new">new</button>
    <button type="button" class="panel-button" cb-panel-button cb-action="print" data-ng-disabled="disabled">print</button>
  </div>
</ion-header-bar>
