<!-- The title of the ion-view will be shown on the navbar -->
<ion-view left-buttons="leftButtons" >
  <ion-nav-title>
    My Account
  </ion-nav-title>
  <ion-nav-buttons side="left">
    <button class="button button-back fa fa-chevron-left" data-cb-back></button>
    <div class="clear"></div>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-signout fa fa-sign-out" data-cb-signout></button>
    <div class="clear"></div>
  </ion-nav-buttons>

  <div class="page-content-holder full-height">
    <ion-content ng-controller="AccountCtrl" class="page page-full-width page-account padding">

      <div class="account-container" cb-content-height>
        <div class="account-inner">
          <form name="accountForm" novalidate="" data-ng-submit="saveUser(accountForm)">
            <div class="user-blocks">
              <div class="user-logo-upload-block">
              <input type="file" class="user-logo-upload"/>
              <span>Upload logo</span>
              </div>
              <div class="user-info-block">
              <label>full name: <input type="text" data-ng-model="user.name" required minlength="2"/></label>
              <label>e-mail: <input type="email" data-ng-model="user.email" required/></label>
              <label>company: <input type="text" data-ng-model="user.company"/></label>
              </div>
              <div class="clear"></div>
            </div>
            <div class="user-buttons-block">
              <button type="button" data-ng-click="goToPassChange()" class="orange-button">
              Change password
              </button>
              <button data-ng-disabled="accountForm.$invalid" class="orange-button">
              Save
              </button>
              <div class="clear"></div>
            </div>
          </form>
        </div>

      </div>

    </ion-content>
  </div>

</ion-view>
