<!-- The title of the ion-view will be shown on the navbar -->
<ion-view view-title="Alerts">
  <ion-nav-buttons side="left">
    <button class="button button-clients fa fa-user" data-cb-clients></button>
    <div class="clear"></div>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-home fa fa-home" data-cb-home></button>
    <button class="button button-user fa fa-user-md" data-cb-user></button>
    <button class="button button-signout fa fa-sign-out" data-cb-signout></button>
    <div class="clear"></div>
  </ion-nav-buttons>

  <cb-top-buttons></cb-top-buttons>

  <div class="page-content-holder">
    <ion-content class="side-face"  scroll="false">
      <img class="face-grid" src="img/face_grid.png">
    </ion-content>

    <ion-content class="page page-alerts padding">

      <div class="alerts-container">
        <ul>
          <li><span class="alert-name">Allergies (incl. food)</span></li>
          <li><span class="alert-name">Allergy to hair dye</span></li>
          <li><span class="alert-name">Arthritis (Where)</span></li>
          <li><span class="alert-name">Birth Control (Type/Name)</span></li>
          <li><span class="alert-name">Cancer (Where/Type)</span></li>
          <li><span class="alert-name">Contact Lenses</span></li>
          <li><span class="alert-name">Claustrophobia</span></li>
          <li><span class="alert-name">Depression (When)</span></li>
          <li><span class="alert-name">Dermatitis (Where)</span></li>
          <li><span class="alert-name">Diabetes (Type)</span></li>
          <li><span class="alert-name">Eczema (Where)</span></li>
          <li><span class="alert-name">Epilepsy</span></li>
          <li><span class="alert-name">High Blood Pressure</span></li>
          <li><span class="alert-name">HIV/Aids</span></li>
          <li><span class="alert-name">Hepatitis</span></li>
          <li><span class="alert-name">Hormonal Imbalance</span></li>
          <li><span class="alert-name">Low Blood Pressure</span></li>
          <li><span class="alert-name">Low Immunity</span></li>
          <li><span class="alert-name">Menstrual Problems</span></li>
          <li><span class="alert-name">Metal Plates/Pins (Where)</span></li>
          <li><span class="alert-name">Multiple Sclerosis</span></li>
          <li><span class="alert-name">Neck/Shoulder/Back Problems</span></li>
          <li><span class="alert-name">Plastic Surgery (Where)</span></li>
          <li><span class="alert-name">Polyclinic Ovaries</span></li>
          <li><span class="alert-name">Pregnant/Trying</span></li>
          <li><span class="alert-name">Psoriasis (Where)</span></li>
          <li><span class="alert-name">Roacutane (When/How Long)</span></li>
          <li><span class="alert-name">Slipped Disc (Which)</span></li>
          <li><span class="alert-name">Smoke (Per day)</span></li>
          <li><span class="alert-name">Surgery</span></li>
          <li><span class="alert-name">Thyroid Disorder</span></li>
          <li><span class="alert-name">Use Retin A</span></li>
          <li><span class="alert-name">Varicose Veins</span></li>
          <li><span class="alert-name">Other Medical Conditions</span></li>
        </ul>
      </div>

    </ion-content>
  </div>

  <cb-bottom-buttons></cb-bottom-buttons>

</ion-view>
