<!-- The title of the ion-view will be shown on the navbar -->
<ion-view view-title="Analysis">
  <ion-nav-buttons side="left">
    <button class="button button-clients fa fa-user" data-cb-clients></button>
    <div class="clear"></div>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-home fa fa-home" data-cb-home></button>
    <button class="button button-user fa fa-user-md" data-cb-user></button>
    <button class="button button-signout fa fa-sign-out" data-cb-signout></button>
    <div class="clear"></div>
  </ion-nav-buttons>

  <cb-top-buttons></cb-top-buttons>

  <div class="page-content-holder">
    <ion-content class="side-face" style="position: relative;" scroll="false">
      <img class="face-grid" src="img/face_grid.png">
      <div class="analysis-blocks">
        <div class="analysis-inner">
          <div data-ng-click="blockClick(0)" class="analysis-block analysis-block-left analysis-block-1"></div>
          <div data-ng-click="blockClick(1)" class="analysis-block analysis-block-right analysis-block-2"></div>
          <div data-ng-click="blockClick(2)" class="analysis-block analysis-block-left analysis-block-3"></div>
          <div data-ng-click="blockClick(3)" class="analysis-block analysis-block-right analysis-block-4"></div>
          <div data-ng-click="blockClick(4)" class="analysis-block analysis-block-left analysis-block-5"></div>
          <div data-ng-click="blockClick(5)" class="analysis-block analysis-block-right analysis-block-6"></div>
          <div data-ng-click="blockClick(6)" class="analysis-block analysis-block-left analysis-block-7"></div>
          <div data-ng-click="blockClick(7)" class="analysis-block analysis-block-right analysis-block-8"></div>
          <div data-ng-click="blockClick(8)" class="analysis-block analysis-block-left analysis-block-9"></div>
          <div data-ng-click="blockClick(9)" class="analysis-block analysis-block-right analysis-block-10"></div>
          <div data-ng-click="blockClick(10)" class="analysis-block analysis-block-left analysis-block-11"></div>
          <div data-ng-click="blockClick(11)" class="analysis-block analysis-block-right analysis-block-12"></div>
        </div>
      </div>
    </ion-content>

    <ion-content class="page page-analysis padding">

      <div class="analysis-container">
        <ul>
          <li data-ng-class="{ selected:vars.analysisData['Acne'] }" data-ng-click="analysisChosen('Acne')">Acne</li>
          <li data-ng-class="{ selected:vars.analysisData['Allergy'] }" data-ng-click="analysisChosen('Allergy')">Allergy</li>
          <li data-ng-class="{ selected:vars.analysisData['Blackheads'] }" data-ng-click="analysisChosen('Blackheads')">Blackheads</li>
          <li data-ng-class="{ selected:vars.analysisData['Capillarie'] }" data-ng-click="analysisChosen('Capillarie')">Capillarie</li>
          <li data-ng-class="{ selected:vars.analysisData['Ductal Plugging'] }" data-ng-click="analysisChosen('Ductal Plugging')">Ductal Plugging</li>
          <li data-ng-class="{ selected:vars.analysisData['Erythema'] }" data-ng-click="analysisChosen('Erythema')">Erythema</li>
          <li data-ng-class="{ selected:vars.analysisData['Glycation'] }" data-ng-click="analysisChosen('Glycation')">Glycation</li>
          <li data-ng-class="{ selected:vars.analysisData['Keratinisation'] }" data-ng-click="analysisChosen('Keratinisation')">Keratinisation</li>
          <li data-ng-class="{ selected:vars.analysisData['Lines'] }" data-ng-click="analysisChosen('Lines')">Lines</li>
          <li data-ng-class="{ selected:vars.analysisData['Loss of Structural Integrity'] }" data-ng-click="analysisChosen('Loss of Structural Integrity')">Loss of Structural Integrity</li>
          <li data-ng-class="{ selected:vars.analysisData['Open Pores'] }" data-ng-click="analysisChosen('Open Pores')">Open Pores</li>
          <li data-ng-class="{ selected:vars.analysisData['Milia'] }" data-ng-click="analysisChosen('Milia')">Milia</li>
          <li data-ng-class="{ selected:vars.analysisData['Mole'] }" data-ng-click="analysisChosen('Mole')">Mole</li>
          <li data-ng-class="{ selected:vars.analysisData['Hyper-Pigmentation'] }" data-ng-click="analysisChosen('Hyper-Pigmentation')">Hyper-Pigmentation</li>
          <li data-ng-class="{ selected:vars.analysisData['Hypo-Pigmentation'] }" data-ng-click="analysisChosen('Hypo-Pigmentation')">Hypo-Pigmentation</li>
          <li data-ng-class="{ selected:vars.analysisData['Rosecea'] }" data-ng-click="analysisChosen('Rosecea')">Rosecea</li>
          <li data-ng-class="{ selected:vars.analysisData['Scarring'] }" data-ng-click="analysisChosen('Scarring')">Scarring</li>
          <li data-ng-class="{ selected:vars.analysisData['Skin Tag'] }" data-ng-click="analysisChosen('Skin Tag')">Skin Tag</li>
          <li data-ng-class="{ selected:vars.analysisData['Trans Epi Dermal Water Loss'] }" data-ng-click="analysisChosen('Trans Epi Dermal Water Loss')">Trans Epi Dermal Water Loss</li>
        </ul>
      </div>

    </ion-content>
  </div>

  <cb-bottom-buttons></cb-bottom-buttons>

</ion-view>
