<!-- The title of the ion-view will be shown on the navbar -->
<ion-view left-buttons="leftButtons">
  <ion-nav-title>
    Change Password
  </ion-nav-title>
  <ion-nav-buttons side="left">
    <button class="button button-back fa fa-chevron-left" data-cb-back></button>
    <div class="clear"></div>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-signout fa fa-sign-out" data-cb-signout></button>
    <div class="clear"></div>
  </ion-nav-buttons>

  <div class="page-content-holder full-height">
    <ion-content ng-controller="ChangePassCtrl" class="page page-full-width page-changepass">

      <div class="account-container" cb-content-height>
        <div class="subs-horizontal">
          <div class="subs-vertical">
            <div class="account-inner">
              <form name="changePassForm" novalidate="" data-ng-submit="changePass(changePassForm)">
                <label>current: <input type="password" data-ng-model="passData.old" required minlength="6"/></label>
                <label>new: <input type="password" data-ng-model="passData.new" required minlength="6" maxlength="255"/></label>
                <label>confirm: <input type="password" data-ng-model="passData.confirm" compare-to="passData.new" required /></label>
                <button data-ng-disabled="changePassForm.$invalid" class="orange-button">
                  Save
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </ion-content>
  </div>
</ion-view>
