<!-- The title of the ion-view will be shown on the navbar -->
<ion-view view-title="Client">
  <ion-nav-buttons side="left">
    <button class="button button-clients fa fa-user" data-cb-clients></button>
    <div class="clear"></div>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-home fa fa-home" data-cb-home></button>
    <button class="button button-user fa fa-user-md" data-cb-user></button>
    <button class="button button-signout fa fa-sign-out" data-cb-signout></button>
    <div class="clear"></div>
  </ion-nav-buttons>

  <cb-top-buttons></cb-top-buttons>

  <div class="page-content-holder">
    <ion-content class="side-face" scroll="false">
      <img class="face-grid" src="img/face_grid.png">
    </ion-content>

    <ion-content class="page page-client padding">

      <div class="client-container">
        <form name="clientInfoForm" class="client-form labeled-form">
          <label><span>name:</span><input readonly="readonly" class="ion-autocomplete" autocomplete="off"
                              data-ion-autocomplete type="text" data-max-selected-items="1"
                              data-ng-model="vars.client" data-items-method="clientsByName(query)"
                              data-item-view-value-key="name" data-items-clicked-method="clientChosen(callback)"
                              data-items-removed-method="clientUnchosen(callback)"/></label>
          <label><span>address:</span><input type="text" data-ng-model="vars.data.address" required minlength="3"/></label>
          <label><span>city:</span><input type="text" data-ng-model="vars.data.city" required minlength="3"/></label>
          <label><span>post code:</span><input type="text" data-ng-model="vars.data.postCode" required minlength="3"/></label>
          <label><span>d.o.b:</span><input type="text" data-ng-model="vars.data.dob" required minlength="3"/></label>
          <label><span>mobile:</span><input type="text" data-ng-model="vars.data.mobileNumber" required/><a class="client-phone fa fa-phone-square"></a></label>
          <label><span>home number:</span><input type="text" data-ng-model="vars.data.homeNumber"/><a class="client-phone fa fa-phone-square"></a></label>
          <label><span>work number:</span><input type="text" data-ng-model="vars.data.workNumber"/><a class="client-phone fa fa-phone-square"></a></label>
          <label><span>email:</span><input type="text" data-ng-model="vars.data.email" required/></label>
          <label><span>occupation:</span><input type="text" data-ng-model="vars.data.occupation"/></label>
          <label><span>how did you hear about us:</span><span class="flex-spacer"></span><button type="button" class="how-hear-button" data-ng-click="choose()">choose</button></label>
          <div class="how-hear" data-ng-if="vars.data.howHear.length > 0">{{vars.data.howHear}}</div>
          <button type="button" class="orange-button" data-ng-disabled="!vars.data" data-ng-click="delete()">Delete</button>
        </form>

      </div>
    </ion-content>
  </div>

  <cb-bottom-buttons></cb-bottom-buttons>

</ion-view>
