<!-- The title of the ion-view will be shown on the navbar -->
<ion-view view-title="login" hide-nav-bar="true" >
  <ion-content class="page-login">
    <div class="login-container" cb-full-height>
      <div class="login-horizontal">
        <div class="login-vertical">
          <h1 class="login-title">Consult Beauty</h1>
          <form name="loginForm" novalidate="" ng-submit="doLogin(loginForm)">
            <ul class="login-form">
              <li>
                <i class="login-email-icon login-icon"></i>
                <input type="email" placeholder="E-mail address" ng-model="loginData.email" required maxlength="255" /></li>
              <li>
                <i class="login-password-icon login-icon"></i>
                <input type="password" placeholder="******" ng-model="loginData.password" required minlength="6" maxlength="255" style="margin-top:6px"/></li>
            </ul>
            <button class="orange-button" ng-disabled="loginForm.$invalid">Sign in</button>
          </form>
          <a href="#/register" class="register-button">New here? Sign up</a>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
