<!-- The title of the ion-view will be shown on the navbar -->
<ion-view view-title="New Client">
  <ion-nav-buttons side="left">
    <button class="button button-clients fa fa-user" data-cb-clients></button>
    <div class="clear"></div>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-home fa fa-home" data-cb-home></button>
    <button class="button button-user fa fa-user-md" data-cb-user></button>
    <button class="button button-signout fa fa-sign-out" data-cb-signout></button>
    <div class="clear"></div>
  </ion-nav-buttons>

  <cb-top-buttons></cb-top-buttons>

  <div class="page-content-holder">
    <ion-content class="side-face" scroll="false">
      <img class="face-grid" src="img/face_grid.png">
    </ion-content>

    <ion-content class="page page-new padding">

      <div class="client-container">
        <form name="newClientForm" class="client-form labeled-form" novalidate="" data-ng-submit="create(newClientForm)">
          <label><span>name:</span><input type="text" data-ng-model="data.name" required minlength="3"/></label>
          <label><span>address:</span><input type="text" data-ng-model="data.address" required minlength="3"/></label>
          <label><span>city:</span><input type="text" data-ng-model="data.city" required minlength="3"/></label>
          <label><span>post code:</span><input type="text" data-ng-model="data.postCode" required minlength="3"/></label>
          <label><span>d.o.b:</span><input type="text" data-ng-model="data.dob" required minlength="3"/></label>
          <label><span>mobile:</span><input type="text" data-ng-model="data.mobileNumber" required/><i class="client-phone fa fa-phone-square"></i></label>
          <label><span>home number:</span><input type="text" data-ng-model="data.homeNumber"/><i class="client-phone fa fa-phone-square"></i></label>
          <label><span>work number:</span><input type="text" data-ng-model="data.workNumber"/><i class="client-phone fa fa-phone-square"></i></label>
          <label><span>email:</span><input type="email" data-ng-model="data.email" required/></label>
          <label><span>occupation:</span><input type="text" data-ng-model="data.occupation" required/></label>
          <label><span>how did you hear about us:</span><span class="flex-spacer"></span><button type="button" class="how-hear-button" data-ng-click="choose()">choose</button></label>
          <div class="how-hear" data-ng-if="data.howHear.length > 0">{{data.howHear}}</div>
          <button class="orange-button" data-ng-disabled="newClientForm.$invalid">Create</button>
        </form>

      </div>
    </ion-content>
  </div>

  <cb-bottom-buttons></cb-bottom-buttons>

</ion-view>
