<!-- The title of the ion-view will be shown on the navbar -->
<ion-view view-title="Notes">
  <ion-nav-buttons side="left">
    <button class="button button-clients fa fa-user" data-cb-clients></button>
    <div class="clear"></div>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-home fa fa-home" data-cb-home></button>
    <button class="button button-user fa fa-user-md" data-cb-user></button>
    <button class="button button-signout fa fa-sign-out" data-cb-signout></button>
    <div class="clear"></div>
  </ion-nav-buttons>

  <cb-top-buttons></cb-top-buttons>

  <div class="page-content-holder">
    <ion-content class="side-face"  scroll="false">
      <img class="face-grid" src="img/face_grid.png">
    </ion-content>

    <ion-content class="page page-notes padding">

      <div class="notes-container">
        <ul class="notes-list">
          <li><span class="n-content">Lorem Ipsum</span><span class="n-date">17.16.2015</span></li>
          <li><span class="n-content">Lorem Ipsum</span><span class="n-date">17.16.2015</span></li>
          <li><span class="n-content">Lorem Ipsum</span><span class="n-date">17.16.2015</span></li>
          <li><span class="n-content">Lorem Ipsum</span><span class="n-date">17.16.2015</span></li>
          <li><span class="n-content">Lorem Ipsum</span><span class="n-date">17.16.2015</span></li>
          <li><span class="n-content">Lorem Ipsum</span><span class="n-date">17.16.2015</span></li>
          <li><span class="n-content">Lorem Ipsum</span><span class="n-date">17.16.2015</span></li>
        </ul>
      </div>

    </ion-content>
  </div>

  <cb-bottom-buttons></cb-bottom-buttons>

</ion-view>
