<!-- The title of the ion-view will be shown on the navbar -->
<ion-view view-title="Photos">
  <ion-nav-buttons side="left">
    <button class="button button-clients fa fa-user" data-cb-clients></button>
    <div class="clear"></div>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-home fa fa-home" data-cb-home></button>
    <button class="button button-user fa fa-user-md" data-cb-user></button>
    <button class="button button-signout fa fa-sign-out" data-cb-signout></button>
    <div class="clear"></div>
  </ion-nav-buttons>

  <cb-top-buttons></cb-top-buttons>

  <div class="page-content-holder">
    <ion-content class="side-face" style="padding: 10px; width: 30%" scroll="false">

      <div class="photos-upload-block">
        <input type="file" class="photos-upload"/>
        <span>Upload photo</span>
      </div>

    </ion-content>

    <ion-content class="page page-photos padding">

      <div class="client-photos">
        <div class="client-photo">
          <img src="img/avatar.jpg"/>
          <div class="client-photo-overlay">07-11-2015</div>
        </div>
        <div class="client-photo">
          <img src="img/avatar.jpg"/>
          <div class="client-photo-overlay">07-11-2015</div>
        </div>
        <div class="client-photo">
          <img src="img/avatar.jpg"/>
          <div class="client-photo-overlay">07-11-2015</div>
        </div>
        <div class="client-photo">
          <img src="img/avatar.jpg"/>
          <div class="client-photo-overlay">07-11-2015</div>
        </div>
        <div class="client-photo">
          <img src="img/avatar.jpg"/>
          <div class="client-photo-overlay">07-11-2015</div>
        </div>
        <div class="clear"></div>
      </div>

    </ion-content>
  </div>

  <cb-bottom-buttons></cb-bottom-buttons>

</ion-view>
