<!-- The title of the ion-view will be shown on the navbar -->
<ion-view view-title="Prescription">
  <ion-nav-buttons side="left">
    <button class="button button-clients fa fa-user" data-cb-clients></button>
    <div class="clear"></div>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-home fa fa-home" data-cb-home></button>
    <button class="button button-user fa fa-user-md" data-cb-user></button>
    <button class="button button-signout fa fa-sign-out" data-cb-signout></button>
    <div class="clear"></div>
  </ion-nav-buttons>

  <cb-top-buttons></cb-top-buttons>

  <div class="page-content-holder">
    <ion-content class="side-face" scroll="false">
      <img class="face-grid" src="img/face_grid.png">
    </ion-content>

    <ion-content class="page page-prescription padding">

      <div class="prescription-buttons">
        <button type="button" ng-class="{ active: tab == 'morning' }" ng-click="morning()">Morning</button>
        <button type="button" ng-class="{ active: tab == 'night' }" ng-click="night()">Night</button>
      </div>

      <form name="prescriptionsForm" class="labeled-form">
        <label>cleanser: <input data-ng-model="vars.activeData.cleanser" type="text"/></label>
        <label>toner: <input data-ng-model="vars.activeData.toner" type="text"/></label>
        <label>eyes: <input data-ng-model="vars.activeData.eyes" type="text"/></label>
        <label>serum: <input data-ng-model="vars.activeData.serum" type="text"/></label>
        <label>moisturiser: <input data-ng-model="vars.activeData.moisturiser" type="text"/></label>
        <label>sunscreen: <input data-ng-model="vars.activeData.sunscreen" type="text"/></label>
        <label>weekly: <input data-ng-model="vars.activeData.weekly" type="text"/></label>
        <label>supplements: <input data-ng-model="vars.activeData.supplements" type="text"/></label>
        <label class="flex-vertical">product instructions: <textarea data-ng-model="vars.activeData.freeText" class="textarea-autoresize" cb-autoresize></textarea></label>
      </form>

    </ion-content>
  </div>

  <cb-bottom-buttons></cb-bottom-buttons>

</ion-view>
