<!-- The title of the ion-view will be shown on the navbar -->
<ion-view view-title="register" hide-nav-bar="true" >
  <ion-content class="page-register">
    <div class="register-container" cb-full-height>
      <div class="register-header">
        <a class="register-back-button" ui-sref="login">back</a>
      </div>
      <div class="register-horizontal">
        <div class="register-vertical">
          <form name="registrationForm" class="labeled-form" novalidate="" ng-submit="doSignup(registrationForm)">
            <label>full name: <input ng-model="registerData.name" type="text" required minlength="2"></label>
            <label>company: <input ng-model="registerData.company" type="text" minlength="2"></label>
            <label>e-mail: <input ng-model="registerData.email" type="email" required></label>
            <label>password: <input ng-model="registerData.password" type="password" required minlength="6" maxlength="256"></label>
            <label>confirm: <input ng-model="registerData.confirm" compare-to="registerData.password" type="password" required minlength="6" maxlength="256"></label>
            <button data-ng-disabled="registrationForm.$invalid" class="orange-button">
              Sign up
            </button>
          </form>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
