<!-- The title of the ion-view will be shown on the navbar -->
<ion-view view-title="Skin fp">
  <ion-nav-buttons side="left">
    <button class="button button-clients fa fa-user" data-cb-clients></button>
    <div class="clear"></div>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-home fa fa-home" data-cb-home></button>
    <button class="button button-user fa fa-user-md" data-cb-user></button>
    <button class="button button-signout fa fa-sign-out" data-cb-signout></button>
    <div class="clear"></div>
  </ion-nav-buttons>

  <cb-top-buttons></cb-top-buttons>

  <div class="page-content-holder">
    <ion-content class="side-face"  scroll="false">
      <img class="face-grid" src="img/face_grid.png">
    </ion-content>

    <ion-content ng-controller="SkinfpCtrl" class="page page-skinfp">

      <div class="skinfp-container">
          <div class="skinfp-left">
            <div class="faces">
              <div>
                <img src="img/face1.png" />
                <img src="img/face2.png" />
                <img src="img/face3.png" />
              </div>
              <div>
                <img src="img/face4.png" />
                <img src="img/face5.png" />
                <img src="img/face6.png" />
              </div>
            </div>
          </div>
          <div class="skinfp-right">
            <button type="button">I</button>
            <button type="button">II</button>
            <button type="button">III</button>
            <button type="button">IV</button>
            <button type="button">V</button>
            <button type="button">VI</button>
          </div>
      </div>

    </ion-content>
  </div>

  <cb-bottom-buttons></cb-bottom-buttons>

</ion-view>
