<!-- The title of the ion-view will be shown on the navbar -->
<ion-view left-buttons="leftButtons">
  <ion-nav-title>
    Subscriptions
  </ion-nav-title>
  <ion-nav-buttons side="left">
    <button class="button button-back fa fa-chevron-left" data-cb-back></button>
    <div class="clear"></div>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-user fa fa-user-md" data-cb-user></button>
    <button class="button button-signout fa fa-sign-out" data-cb-signout></button>
    <div class="clear"></div>
  </ion-nav-buttons>

  <div class="page-content-holder full-height">
    <ion-content ng-controller="SubscriptionsCtrl" class="page page-full-width page-subscriptions">
      <div class="subs-container" cb-content-height>
        <div class="subs-horizontal">
          <div class="subs-vertical">
            <ul class="subs-list">
              <li><a class="orange-button">500 clients - $9.95/mo</a></li>
              <li><a class="orange-button">500-1000 clients - $11.95/mo</a></li>
              <li><a class="orange-button">1000-2000 clients - $14.95/mo</a></li>
              <li><a class="orange-button">2000+ clients - $17.95/mo</a></li>
            </ul>
          </div>
        </div>
      </div>
    </ion-content>
  </div>

</ion-view>
