/* GENERAL */

.clear {
  clear: both;
}

.textarea-styled {
  width: 100%;
  height: calc(100vh - 80px - 44px);
  border: solid 1px #e7e7e7;
  border-radius: 8px;
  padding: 8px;
  background: none;
  background: #fff;
  color: #878787;
  resize: none;
}

.textarea-autoresize {
  width: 100%;
  font-family: "Myriad Pro Regular";
  font-size: 16px;
  line-height: 20px;
  color: #8f8f95;
  resize: none;
}

.orange-button {
  display: block;
  width: 160px;
  padding: 5px;
  margin: 15px auto 0 auto;
  border: none;
  border-radius: 6px;
  background: #f9671e;
  font-family: "Myriad Pro Regular";
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  color: #fff;
}

.orange-button[disabled] {
  background: #ccc;
}

.orange-button.activated {
  background: #B0582C;
  color: #aaa;
}

.labeled-form label {
  display: flex;
  min-height: 35px;
  margin: 0 auto 2px auto;
  padding: 8px 8px;
  background: #fff;
  text-transform: uppercase;
  font-family: "Myriad Pro Semibold";
  font-size: 16px;
  line-height: 20px;
  color: #333;
  white-space: nowrap;
}

.labeled-form label input {
  flex: 1;
  height: 20px;
  margin: 0 0 0 5px;
  padding: 0;
  text-align: right;
  font-family: "Myriad Pro Regular";
  font-size: 16px;
  line-height: 20px;
  color: #8f8f95;
}

.button.button-signout {
  background: none;
  color: #444;
  font-size: 20px;
  line-height: 20px;
  border: none;
}

.button.button-clients {
  background: none;
  border: none;
  color: #444;
  font-size: 19px;
  line-height: 19px;
}

.button.button-user {
  background: none;
  border: none;
  color: #444;
  font-size: 19px;
  line-height: 19px;
}

.button.button-home {
  background: none;
  border: none;
  color: #444;
  font-size: 19px;
  line-height: 19px;
}

.button.button-back {
  background: none;
  border: none;
  color: #444;
  font-size: 19px;
  line-height: 19px;
}

.top-buttons {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 34px;
  padding: 5px 0;
}

.bottom-buttons {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 5px 0;
}

.panel-button {
  background: #ddd;
  padding: 2px 12px;
  border: none;
  border-radius: 5px;
  font-family: "Myriad Pro Regular";
  text-transform: uppercase;
  line-height: 24px;
  height: 24px;
  color: #444;
}

.panel-button[inactive] {
  opacity: 0.6;
}

.panel-button[disabled] {
  color: #AAA;
}

.pane {
  background: #f5f5f5;
}

.page {
  left: auto;
  right: 0;
  width: 65%;
}

.page-full-width {
  width: 100%;
}

.side-face {
  left: 0;
  width: 35%;
  background: #f5f5f5;
}

.flex-spacer {
  flex-grow: 1;
}

.flex-vertical {
  flex-flow: column;
}

.action-sheet-group.action-sheet-options {
  overflow-y: scroll;
  max-height: calc(100vh - 72px);
  transform: translate3d(0, 0, 0);
}

.face-grid {
  height: 100%;
}

/* experimental */

.page-content-holder {
  position: absolute;
  left: 0;
  right: 0;
  top: 88px;
  bottom: 44px;
  display: flex;
}

.page-content-holder.full-height {
  top: 44px;
  bottom: 0;
}

.has-footer {
  bottom: 0;
}

.has-subheader {
  top: 0;
}

.side-face {
  flex-shrink: 0;
  width: auto;
  height: 100%;
  position: static;
  padding: 7px 0 7px 7px;
}

.page {
  flex-grow: 1;
  width: auto;
  position: static;
}

/* LOGIN PAGE */

.login-container {
  background: #65caff;
}

.login-vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.login-horizontal {
  display: flex;
  justify-content: center;
  height: 100%;
}

.login-title {
  margin-bottom: 30px;
  text-shadow: 0 3px 5px #cdcdcd;
  color: #fdfdfd;
  font-family: "Myriad Pro";
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  white-space: nowrap;
}

.login-form {
  width: 200px;
  margin: 0 auto;
  padding: 5px;
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.login-form li {
  display: flex;
  padding: 5px;
}

.login-form input {
  width: 100%;
  height: 20px;
  padding: 0;
  font-family: "Myriad Pro Semibold";
  font-size: 14px;
  line-height: 24px;
  color: #3d3d3d;
}

.loginInput::-webkit-input-placeholder {
  color: #ccc;
  font-weight: 300;
  line-height: 25px;
}

.login-icon {
  display: inline-block;
  width: 43px;
  height: 31px;
}

.login-email-icon {
  background: url("../img/mail.png") no-repeat;
  background-size: 27px auto;
}

.login-password-icon {
  background: url("../img/pass.png") no-repeat;
  background-size: auto 31px;
}

.register-button {
  display: block;
  margin: 30px auto 0 auto;
  border: none;
  background: none;
  font-family: "Myriad Pro Regular";
  text-decoration: underline;
  text-align: center;
  font-size:11px;
  color: #fff;
  white-space: nowrap;
}

/* REGISTER PAGE */

.register-container {
  background: #65caff;
}

.register-header {
  position: absolute;
  padding: 1px;
}

.register-back-button {
  display: inline-block;
  margin: 15px 0 0 15px;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
}

.register-back-button:before {
  content: " ";
  background: url("../img/back-white.png") no-repeat;
  height: 13px;
  width: 13px;
  background-size: contain;
  display: inline-block;
}

.register-vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.register-horizontal {
  display: flex;
  justify-content: center;
  height: 100%;
}

/* CLIENT PAGE */

.client-phone {
  margin-left: 5px;
  font-size: 22px;
  line-height: 18px;
  color: #b6b6b6;
  text-decoration: none;
}

.how-hear-button {
  flex-shrink: 0;
  height: 22px;
  border: solid 1px #007aff;
  border-radius: 5px;
  margin-top: -2px;
  background: none;
  font-family: "Myriad Pro Semibold";
  text-transform: uppercase;
  line-height: 21px;
  color: #007aff;
}

.how-hear {
  padding: 5px 7px;
  background: white;
  text-align: right;
}

/* ANALYSIS PAGE */

.analysis-container ul {
  border: solid 1px #e7e7e7;
  border-radius: 8px;
  padding: 7px;
  background: #fff;
}

.analysis-container li {
  border-top: solid 1px #e7e7e7;
  padding: 6px 4px 4px 5px;
  font-family: "Myriad Pro Semibold";
  color: #007aff;
}

.analysis-container li.selected {
  color: #f00;
}

.analysis-container li:first-child {
  border: none;
}

.analysis-blocks {
  position: absolute;
  top: 8px;
  left: 8px;
  right: 0;
  bottom: 7px;
}

.analysis-inner {
  position: relative;
  width: 100%;
  height: 100%;
}

.analysis-block {
  position: absolute;
}

.analysis-block.selected {
  background: rgba(0, 0, 0, 0.5);
}

.analysis-block-left {
  width: 48%;
  left: 0;
}

.analysis-block-right {
  width: 52%;
  left: 48%;
}

.analysis-block-1 {
  top: 0;
  height: 38%;
}

.analysis-block-2 {
  top: 0;
  height: 38%;
}

.analysis-block-3 {
  top: 38%;
  height: 16%;
}

.analysis-block-4 {
  top: 38%;
  height: 16%;
}

.analysis-block-5 {
  top: 54%;
  height: 12%;
}

.analysis-block-6 {
  top: 54%;
  height: 12%;
}

.analysis-block-7 {
   top: 66%;
   height: 13%;
 }

.analysis-block-8 {
  top: 66%;
  height: 13%;
}

.analysis-block-9 {
  top: 79%;
  height: 13%;
}

.analysis-block-10 {
  top: 79%;
  height: 13%;
}

.analysis-block-11 {
  top: 92%;
  height: 8%;
}

.analysis-block-12 {
  top: 92%;
  height: 8%;
}

/* PRESCRIPTION PAGE*/

.prescription-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.prescription-buttons button {
  border: solid 1px #007aff;
  padding: 2px 35px;
  background: none;
  font-family: "Myriad Pro Regular";
  color: #007aff;
}

.prescription-buttons button.active {
  background: #007aff;
  color: #fff;
}

.prescription-buttons button:first-child {
  border-right: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.prescription-buttons button:last-child {
  border-left: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* PHOTOS PAGE*/

.photos-upload-block {
  position: relative;

  width: 100%;
  height: 100%;
  float: left;

  background: #e8e8e8;
  border: solid 1px #c5c5c5;
  border-radius: 5px;
}

.photos-upload-block span {
  position: absolute;
  margin-top: -10px;
  top: 50%;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  text-align: center;
  font-size: 14px;
}

.photos-upload::-webkit-file-upload-button {
  visibility: hidden;
}

.photos-upload {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: block;
  width: 100%;
  height: 100%;
  font-size: 0;
}

.client-photo {
  position: relative;
  width: 100px;
  height: 100px;
  float: left;
  margin: 0 5px 5px 0;
  border: solid 1px #c5c5c5;
  overflow: hidden;
}

.client-photo img {
  width: 100%;
}

.client-photo-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 15px;
  background: rgba(116, 116, 116, 0.62);
  line-height: 16px;
  font-size: 12px;
  color: #fff;
  text-align: center;
}

/* HISTORY PAGE */

.history-list li {
  display: flex;
  margin: 0 0 2px 0;
  padding: 5px 10px;
  border: solid 1px #e3e3e3;
  border-radius: 3px;
  background: white;
  font-family: "Myriad Pro Regular";
}

.history-list li .h-content {
  flex-grow: 1;
  color: black;
}

.history-list li .h-date {
  color: #8c8c8c;
}

.new-history-item-button {
  margin-top: 0;
  margin-bottom: 7px;
}

/* NOTES PAGE */

.notes-list li {
  display: flex;
  margin: 0 0 2px 0;
  padding: 5px 10px;
  border: solid 1px #e3e3e3;
  border-radius: 3px;
  background: white;
  font-family: "Myriad Pro Regular";
}

.notes-list li .n-content {
  flex-grow: 1;
  color: black;
}

.notes-list li .n-date {
  color: #8c8c8c;
}

/* ALERTS PAGE */

.alerts-container ul {
  border: solid 1px #e7e7e7;
  border-radius: 8px;
  padding: 7px;
  background: #fff;
}

.alerts-container li {
  border-top: solid 1px #e7e7e7;
  padding: 6px 4px 4px 5px;
  font-family: "Myriad Pro Semibold";
  color: #717171;
}

.alerts-container li:first-child {
  border: none;
}

/* SKINFP PAGE */

.skinfp-container {
  height: calc(100vh - 133px);
}

.skinfp-container .faces div {
  height: 50%;
}

.skinfp-container .faces img {
  height: 100%;
}

.skinfp-left {
  height: 100%;
  float: left;
}

.skinfp-right {
  height: 100%;
  float: right;
  padding: 0 15px 0 0;
}

.skinfp-container .faces {
  height: 100%;
}

.skinfp-right button {
  display: block;
  width: 30px;
  height: 30px;
  margin: 0 0 1px 0;
  border: solid 1px #b0b0b0;
  border-radius: 3px;
  background: #fff;
  color: #8b8b8b;
}

/* SUBSCRIPTIONS PAGE */

.subs-horizontal {
  display: flex;
  justify-content: center;
  height: 100%;
}

.subs-vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.subs-list .orange-button {
  width: auto;
  font-family: "Myriad Pro Semibold", sans-serif;
  height: 30px;
  line-height: 22px;
}

.subs-list li:first-child .orange-button {
  margin-top: 0;
}

/* ACCOUNT PAGE */

.account-inner label {
  display: block;
  width: 300px;
  height: 35px;
  margin: 0 auto 2px auto;
  padding: 8px 10px;
  background: #fff;
  text-transform: uppercase;
  font-family: "Myriad Pro Semibold";
  font-size: 16px;
  line-height: 20px;
  color: #333;
}

.account-inner label input {
  display: inline-block;
  width: 170px;
  height: 20px;
  float: right;
  margin: 0;
  padding: 0;
  text-align: right;
  font-family: "Myriad Pro Regular";
  font-size: 16px;
  line-height: 20px;
  color: #8f8f95;
}

.account-inner .user-blocks {
  width: 470px;
  margin: 0 auto;
}

.account-inner .user-logo-upload-block {
  position: relative;

  width: 150px;
  height: 150px;
  float: left;

  background: #e8e8e8;
  border: solid 1px #c5c5c5;
  border-radius: 5px;
}

.account-inner .user-logo-upload-block span {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  text-align: center;
  font-size: 14px;
  line-height: 150px;
}

.account-inner .user-logo-upload::-webkit-file-upload-button {
  visibility: hidden;
}

.account-inner .user-logo-upload {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: block;
  width: 150px;
  height: 150px;
  font-size: 0;
}

.account-inner .user-info-block {
  float: right;
}



/* NOT COOL STUFF GOES AFTER */
/*

.nav-bar-block, .bar {
  background-color: white !important;
  color: #000 !important;
}

.bar.bar-positive .title {
  color: #000 !important;
}

.outer {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.page {
  background: #f5f5f5;
}



.orange-button {
  display: block;
  width: 150px;
  padding: 5px;
  margin: 15px auto 0 auto;
  border: none;
  border-radius: 6px;
  background: #f9671e;
  font-family: "Myriad Pro Regular";
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
  color: #fff;
}

.orange-button[disabled] {
  background: #ccc;
}



.user-buttons-block {
  width: 310px;
  margin: 0 auto;
}

.page-changepass .account-inner label {
  width: 270px;
}

.password-save-button {
  display: block;
  width: 150px;
  padding: 5px;
  margin: 15px auto 0 auto;
  border: none;
  border-radius: 6px;
  background: #f9671e;
  font-family: "Myriad Pro Regular";
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  color: #fff;
}

.password-save-button[disabled] {
  background: #ccc;
}

.top-buttons {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 34px;
  padding: 5px 0;
}

.bottom-buttons {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 5px 0;
}

.cb-page-content {
  position: absolute;
  top: 40px;
  bottom: 40px;
  left: 0;
  right: 0;
}

.panel-button {
  background: #ddd;
  padding: 2px 12px;
  border: none;
  border-radius: 5px;
  font-family: "Myriad Pro Regular";
  text-transform: uppercase;
  line-height: 24px;
  color: #444;
}

.panel-button[inactive] {
  opacity: 0.6;
}

.bar .title {
  text-transform: uppercase;
}

.labeled-form label {
  display: block;
  height: 35px;
  margin: 0 auto 2px auto;
  padding: 8px 10px;
  background: #fff;
  text-transform: uppercase;
  font-family: "Myriad Pro Semibold";
  font-size: 16px;
  line-height: 20px;
  color: #333;
}

.labeled-form label input {
  height: 20px;
  float: right;
  margin: 0;
  padding: 0;
  text-align: right;
  font-family: "Myriad Pro Regular";
  font-size: 16px;
  line-height: 20px;
  color: #8f8f95;
}

.block-left-part {
  box-sizing: border-box;
  width: 40%;
  height: 100%;
  padding: 5px;
  float: left;
}

.block-right-part {
  box-sizing: border-box;
  width: 60%;
  height: 100%;
  padding: 5px 8px;
  float: right;
  position: relative;
}

.clientInfoFields {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 5px;
}

.analysisFields {
  height: calc(100vh - 80px - 44px);
}

.client-phone {
  margin-left: 5px;
  float: right;
  font-size: 22px;
  line-height: 18px;
  color: #b6b6b6;
}

.bar .title {
  font-family: "Myriad Pro Regular";
}

.how-hear-button {
  height: 22px;
  border: solid 1px #007aff;
  border-radius: 5px;
  float: right;
  margin-top: -2px;
  background: none;
  font-family: "Myriad Pro Semibold";
  text-transform: uppercase;
  line-height: 21px;
  color: #007aff;
}

.clientInfoFields ul {
  border: solid 1px #e7e7e7;
  border-radius: 8px;
  padding: 7px;
  background: #fff;
}

.clientInfoFields li {
  border-top: solid 1px #e7e7e7;
  padding: 6px 4px 4px 5px;
  font-family: "Myriad Pro Semibold";
  color: #007aff;
}

.clientInfoFields li:first-child {
  border: none;
}

.textarea-styled {
  width: 100%;
  height: calc(100vh - 80px - 44px);
  border: solid 1px #e7e7e7;
  border-radius: 8px;
  padding: 8px;
  background: none;
  background: #fff;
  color: #878787;
  resize: none;
}

.prescription-buttons {
  display: flex;
  justify-content: center;
  padding: 5px 0 0 0;
}

.prescription-buttons button {
  border: solid 1px #007aff;
  padding: 2px 35px;
  background: none;
  font-family: "Myriad Pro Regular";
  color: #007aff;
}

.prescription-buttons button.active {
  background: #007aff;
  color: #fff;
}

.prescription-buttons button:first-child {
  border-right: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.prescription-buttons button:last-child {
  border-left: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.page-prescription .block-left-part, .page-prescription .block-right-part {
  height: calc(100% - 30px);
}

.prescriptionFields {
  height: calc(100vh - 80px - 44px - 30px);
}

.textarea-autoresize {
  width: 100%;
  font-family: "Myriad Pro Regular";
  font-size: 16px;
  line-height: 20px;
  color: #8f8f95;
  resize: none;
}

.photos-upload-block {
  position: relative;

  width: 100%;
  height: 100%;
  float: left;

  background: #e8e8e8;
  border: solid 1px #c5c5c5;
  border-radius: 5px;
}

.photos-upload-block span {
  position: absolute;
  margin-top: -10px;
  top: 50%;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  text-align: center;
  font-size: 14px;
}

.photos-upload::-webkit-file-upload-button {
  visibility: hidden;
}

.photos-upload {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: block;
  width: 100%;
  height: 100%;
  font-size: 0;
}

.page-photos .block-left-part {
  padding: 15px;
}

.client-photos {
  padding: 10px 10px 10px 0;
}

.client-photo {
  position: relative;
  width: 100px;
  height: 100px;
  float: left;
  margin: 0 5px 5px 0;
  border: solid 1px #c5c5c5;
  overflow: hidden;
}

.client-photo img {
  width: 100%;
}

.client-photo-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 15px;
  background: rgba(116, 116, 116, 0.62);
  line-height: 16px;
  font-size: 12px;
  color: #fff;
  text-align: center;
}

.keyboard-open .cb-page-content {
  top: 0;
  bottom: 0;
}
*/